:root {
    --normal-input-width: 19vw; /* 20px = 1vw*/
    --normal-input-height: 23px;
    --checkbox-height: 23px; /* input-height */
    --normal-input-hor-spacing: 19.5vw;
    --normal-input-bottom-margin: 2px;
    --wide-input-width: 38.5vw; /* input-width + hor-spacing */
    --xwide-input-width: 58vw; /* wide-input-width + hor-spacing */
}

body {
  font-size: 1.3rem;
}

.nav-item {
    padding: 0 2vw;
}

.small-text {
    font-size: 1rem;
}

.mobile-warning {
    color: red;
    font-size: 4rem;
}