@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {
    padding: 3rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    padding: 0 2rem;

    &:hover {
        text-decoration: underline;
    }
}